

<div class="baslik-center">
    <h1 class="title">UrunLer Sayfasına HoşGelnidinz</h1>
    <p class="titleP"> Aşağıdaki Seçenkelrden Ürünlerinizi</p>
    <p> Ekleyebilir Silebilir ve Düzenleyebiilirsiniz </p>
</div>


<div class="container3">
    <div class="linkler">
        <div class="link-btn">
            <a data-ajax-method="Get" data-ajax="true" data-ajax-url="/Product/AddProductWithDetail" data-ajax-update="#panelProduct"> Urun ekleme</a>

        </div>

        <div class="link-btn">
            <a data-ajax-method="Get" data-ajax="true" data-ajax-url="/Product/AddProductWithDetail" data-ajax-update="#panelProduct"> Urun ekleme</a>

        </div>

        <div class="link-btn">
            <a data-ajax-method="Get" data-ajax="true" data-ajax-url="/Product/AddProductWithDetail" data-ajax-update="#panelProduct"> Urun ekleme</a>

        </div>

    </div>

    <div class="container4">
        <div id="panelProduct">
        </div>


    </div>
  


</div>


@section Scripts {


    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
}

