
@{
    Layout = "_LoginLayout";
}
@model LoginModel

<div class="container2">
    <h1 class="title-form">Login</h1>

    <div class="web-login">

        <form class="form" asp-controller="Kullanici" asp-action="Login">
               
            <div class="input">
                <label>Username</label>
                <div class="div-input">
                    <input asp-for="Username" class="form-input" type="text" placeholder="doeJohn" dynamicInput />
                    <i class="fa-solid fa-user-shield"></i>
                </div>
                <div class="uyarı"></div>
            </div>
           
            <div class="input">
                <label>Password</label>
                <div class="div-input">
                    <input asp-for="Password" class="form-input" type="password"  dynamicInput />
                    <i class="fa-solid fa-lock"></i>
                </div>
                <div class="uyarı"></div>
            </div>

            <div class="form-button-div">
                <button class="form-button" type="submit">Giriş Yap <i class="fa-solid fa-right-to-bracket"></i></button>
            </div>

            <div class="register" style="text-align:center">
                <span> Hesabınız Yok mu? <a style="color:var(--altRenk-2); text-decoration:underline" asp-controller="Kullanici" asp-action="Register">Yeni Kayıt</a></span>
            </div>

        </form>

        <div class="img-form">
            <img src="~/css/img/bg.png" alt="" />
        </div>
    </div>

</div>

@section Scripts {

    @if (TempData["Kayit"] != null)
    {
       <script>
            createToastSuccess("Başarılı", "Kaydınız Olşuturuldu login yapabilirsiniz");

       </script>
    }

<script>
   
    const inputs = document.querySelectorAll("[dynamicInput]");

    inputs.forEach(input => {
        input.addEventListener("input", function () {
            if (this.value.length > 0) {
                this.classList.add("filled"); // Eğer input doluysa "filled" classını ekle
            } else {
                this.classList.remove("filled"); // Input boşsa classı kaldır
            }
        });
    });
</script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}