@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_LoginLayout";
}
@model RegisterModel

<div class="container2">
    <h1 class="title-form">Kayıt Ol</h1>
    
    <div class="web-login">
        
        <form class="form" asp-controller="Kullanici" asp-action="Register">
            <div class="form-flex">
                <div class="input">
                    <label>Fullname</label>
                    <div class="div-input">
                        <input class="form-input" type="text" placeholder="John DOe" asp-for="Fullname" dynamicInput />
                        <i class="fa-solid fa-user"></i>
                    </div>
                    <span asp-validation-for="Fullname" class="uyarı"></span>
                </div>
                <div class="input">
                    <label>Username</label>
                    <div class="div-input">
                        <input asp-for="Username" class="form-input" type="text" placeholder="doeJohn" dynamicInput />
                        <i class="fa-solid fa-user-shield"></i>
                    </div>
                    <span asp-validation-for="Username" class="uyarı"></span>
                </div>
            </div>          
            <div class="input">
                <label>Password</label>
                <div class="div-input">
                    <input asp-for="Password" class="form-input" type="password"  dynamicInput />
                    <i class="fa-solid fa-lock"></i>
                </div>
                <span asp-validation-for="Password" class="uyarı"></span>
            </div>
            <div class="input">
                <label>RePasword</label>
                <div class="div-input">
                    <input asp-for="RePassword" class="form-input" type="password" dynamicInput />
                    <i class="fa-solid fa-lock"></i>
                </div>
                <span asp-validation-for="RePassword" class="uyarı"></span>
            </div>
            <div class="input">
                <label>Email</label>
                <div class="div-input">
                    <input asp-for="Email" class="form-input" type="email"  dynamicInput />
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <span asp-validation-for="Email" class="uyarı"></span>
            </div>
            <div class="form-button-div">
                <button type="submit" class="form-button" >Kayıt Ol <i class="fa-regular fa-floppy-disk"></i></button>
            </div>
        </form>

        <div class="img-form"> 
            <img src="~/css/img/bg.png" alt="" />
        </div>
    </div>
   
</div>


@section Scripts {
      
    @if (ViewData["Kayit"] !=null && ViewData["Kayit"] == "Kayitvar")
    {
        <script>
            createToastError("Kayit Var!", "Lütfen Başka bir kullanıcı Adi giriniz");
        </script>
    }
    else
    {
        <script>
            createToastInfo("Bilgi", "Tüm alanları doğru giriniz lütfen");
        </script>
    }



    <script>                  
        const inputs = document.querySelectorAll("[dynamicInput]");

        inputs.forEach(input => {
            input.addEventListener("input", function () {
                if (this.value.length > 0) {
                    this.classList.add("filled"); // Eğer input doluysa "filled" classını ekle
                } else {
                    this.classList.remove("filled"); // Input boşsa classı kaldır
                }
            });
        });
    </script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}