




<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers">1,504</div>
            <div class="cardName">Daily Views</div>
        </div>
        <div class="iconBx"><ion-icon name="eye-outline"></ion-icon></div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">80</div>
            <div class="cardName">Sales</div>
        </div>
        <div class="iconBx"><ion-icon name="cart-outline"></ion-icon></div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">254</div>
            <div class="cardName">Comments</div>
        </div>
        <div class="iconBx">
            <ion-icon name="chatbubbles-outline"></ion-icon>
        </div>
    </div>

    <div class="card">
        <div>
            <div class="numbers">$7,854</div>
            <div class="cardName">Earning</div>
        </div>
        <div class="iconBx"><ion-icon name="cash-outline"></ion-icon></div>
    </div>
</div>


<!-- ====================Order Details List=========== -->
<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>RecentOrders</h2>
            <a href="#" class="btnR">View All</a>
        </div>

        <table class="detailsTable">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Payment</td>
                    <td>Status</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Refigrator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered"> Delivered</span></td>
                </tr>
                <tr>
                    <td>Dell Laptop</td>
                    <td>$120</td>
                    <td>Due</td>
                    <td><span class="status delivered"> Delivered</span></td>
                </tr>
                <tr>
                    <td>Apple watch</td>
                    <td>$180</td>
                    <td>Paid</td>
                    <td><span class="status pending"> Pending</span></td>
                </tr>
                <tr>
                    <td>Nike Shoe</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status return"> Return</span></td>
                </tr>
                <tr>
                    <td>Nike Shoe</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status return"> Return</span></td>
                </tr>
                <tr>
                    <td>Adidas Shoe</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status inProgress"> In Progress</span></td>
                </tr>
                <tr>
                    <td>Star Refigrator</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status delivered"> Delivered</span></td>
                </tr>
                <tr>
                    <td>Dell Laptop</td>
                    <td>$120</td>
                    <td>Due</td>
                    <td><span class="status delivered"> Delivered</span></td>
                </tr>
                <tr>
                    <td>Apple watch</td>
                    <td>$180</td>
                    <td>Paid</td>
                    <td><span class="status pending"> Pending</span></td>
                </tr>
                <tr>
                    <td>Nike Shoe</td>
                    <td>$1200</td>
                    <td>Due</td>
                    <td><span class="status return"> Return</span></td>
                </tr>
                <tr>
                    <td>Adidas Shoe</td>
                    <td>$1200</td>
                    <td>Paid</td>
                    <td><span class="status inProgress"> In Progress</span></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- ========New Customers========= -->
    <div class="recentCustomers">
        <div class="cardHeader">
            <h2>New Customers</h2>
        </div>

        <table>
            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        Icardi <br />
                        <span>Italy</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        David <br />
                        <span>Italy</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        David <br />
                        <span>Italy</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        Marcao <br />
                        <span>Portuga</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        David <br />
                        <span>Italy</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        CCC <br />
                        <span>CCC</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        Sude <br />
                        <span>turkey</span>
                    </h4>
                </td>
            </tr>

            <tr>
                <td width="60px">
                    <div class="imgBx">
                        <img src="./imgs/customer02.jpg" alt="" />
                    </div>
                </td>
                <td>
                    <h4>
                        Amit <br />
                        <span>India</span>
                    </h4>
                </td>
            </tr>
        </table>
    </div>
</div>

